<!DOCTYPE html>
<html>
<head>
    <title>About Herb Garden</title>
</head>
<body>

    <h1>Welcome to Herb Garden</h1>

    <p>First I would like to thank you for using my app.</p>

    <p>I created this site as a project for school. Mostly I created this site to give my mom a way to keep track of medicinal herbs that she uses.</p>

    <p>Here at Herb Garden you can create a personal database of herbs. You can then do a search for specific herbs by searching by certain propeties: name, taste, energetics, actions and what the herb is ideal for addressing. You can also edit the herbs you have put into your personal database.</p>

    <p>I truly do hope that this site is helpful and makes your life a little easier. Thank You again for using Herb Garden and have a blessed day.</p>
</body>
</html>