<div class="topnav">
 <div style="height: 100px; background-color: lightblue;">
  <a href="/herbs/index" style="float: right">Home</a>
  <a href="/logout" style="float: right">Logout</a>
</div>

<h2>My Herbs</h2>
<br>

<% @herbs.each do |herb| %>
     <p><a href="/herbs/<%= herb.id %>"><%= herb.name %></a></p>
<% end %>
<br>
<br>

<a href="/herbs/new"><button>Create a New Herb</button></a>


