
<h1>My Herbs</h1>
<br>

<% @herbs.each do |herb| %>
     <h2><a href="/herbs/<%= herb.id %>"><%= herb.name %></a></h2>
<% end %>
<br>
<br>

<a href="/herbs/new"><button>Create a New Herb</button></a>
<a href="/search"><button>Search</button></a>


