<h1>Add a New Herb</h1>
<br>

<form method="POST" action="/herbs">
    <h3><p><strong>Name: </strong><input type="text" name="name"></p></h3>
    <br>
    <h3><p><strong>Latin Name: </strong><input type="text" name="latin_name"></p></h3>
    <br>
    <h3><p><strong>Family: </strong><input type="text" name="family"></p></h3>
    <br>
    <h3><p><strong>Medicinal Parts: </strong><input type="text" name="medicinal_parts"></p></h3>
    <br>
    <h3><p><strong>Taste: </strong><input type="text" name="taste"></p></h3>
    <br>
    <h3><p><strong>Energetics: </strong><input type="text" name="energetics"></p></h3> 
    <br>
    <h3><p><label name="actions"><strong>Actions: </strong>
    <textarea name="actions"></textarea></p></h3>
    <br>
    <h3><p><label name="ideal_for"><strong>Ideal for Addressing: </strong>
    <textarea name="ideal_for"></textarea></p></h3>
    <br>
    <h3><p><label name="applications"><strong>Effective Applications: </strong>
    <textarea name="applications"></textarea></p></h3>
    <br>
    <h3><p><label name="dosage"><strong>Preparation and Dosage: </strong>
    <textarea name="dosage"></textarea></p></h3>
    <br>
    <h3><p><label name="considerations"><strong>Considerations: </strong>
    <textarea name="considerations"></textarea></p></h3>
    <br>
    <br>
    <input type="submit" name="submit" value="Submit">
    <a href="/search" style="float: right"><button>Search</button></a>
    <a href="/herbs" style="float: right"><button>View All My Herbs</button></a>
</form>