<h2>Add a New Herb</h2>
<br>

<form method="POST" action="/herbs">
    <p><strong>Name: </strong><input type="text" name="name"></p>
    <br>
    <p><strong>Latin Name: </strong><input type="text" name="latin_name"></p>
    <br>
    <p><strong>Family: </strong><input type="text" name="family"></p>
    <br>
    <p><strong>Medicinal Parts: </strong><input type="text" name="medicinal_parts"></p>
    <br>
    <p><strong>Taste: </strong><input type="text" name="taste"></p>
    <br>
    <p><strong>Energetics: </strong><input type="text" name="energetics"></p> 
    <br>
    <p><label name="actions"><strong>Actions: </strong>
    <textarea name="actions"></textarea></p>
    <br>
    <p><label name="ideal_for"><strong>Ideal for Addressing: </strong>
    <textarea name="ideal_for"></textarea></p>
    <br>
    <p><label name="applications"><strong>Effective Applications: </strong>
    <textarea name="applications"></textarea></p>
    <br>
    <p><label name="dosage"><strong>Preparation and Dosage: </strong>
    <textarea name="dosage"></textarea></p>
    <br>
    <p><label name="considerations"><strong>Considerations: </strong>
    <textarea name="considerations"></textarea></p>
    <br>
    <br>
    <input type="submit" name="submit" value="Submit">

</form>