<h2>Add a New Herb</h2>
<br>

<form method="POST" action="/herbs">
<p><strong>Name: </strong><input type="text" name="name"></p>
<p><strong>Latin Name: </strong><input type="text" name="latin_name"></p>
<p><strong>Family: </strong><input type="text" name="family"></p>
<p><strong>Medicinal Parts: </strong><input type="text" name="medicinal_parts"></p>
<p><strong>Taste: </strong><input type="text" name="taste"></p>
<p><strong>Energetics: </strong><input type="text" name="energetics"></p> <p><strong>Actions: </strong><input type="text" name="latin_name"></p>
<p><strong>Ideal for Addressing: </strong><input type="text" name="ideal_for"></p>
<p><strong>Effective Applications: </strong><input type="text" name="applications"></p>
<p><strong>Preparation and Dosage: </strong><input type="text" name="dosage"></p>
<p><strong>Considerations: </strong><input type="text" name="considerations"></p>
<br>
<br>
<input type="submit" name="submit" value="Submit">

</form>