<h1>Please select what property you would like to search by</h1>

    <p><form method="GET" action="/results">
        <label for="properites">Select a property:</label>
       <!--<select name="" id="properties">
            <option value="name">Name</option>
            <option value="taste">Taste</option>
            <option value="energetics">Energetics</option>
            <option value="actions">Actions</option>
            <option value="ideal_for">Ideal for Addressing</option>
        </select>-->
        <input type="text" name="search">
        <br>
        <br>
        <input type="submit">
    </form></p>

