
<h1>Search for Herbs</h1>

    <p><form method="GET" action="/results">
        <label for="properites">Search Here:</label>
        <input type="text" name="search">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form></p>

