<div class="topnav">
  <a href="/logout" style="float: right">Logout</a>
</div>

<h1>Search for Herbs</h1>

    <p><form method="GET" action="/results">
        <label for="properites">Search Here:</label>
        <input type="text" name="search">
        <br>
        <br>
        <input type="submit">
    </form></p>

