
<h1>Search for Herbs</h1>

    <h2><form method="GET" action="/results">
        <label for="properites">Search:</label>
        <input type="text" name="search"></h2>
        <br>
            <div class="alert">
                <h4><%= flash[:empty_search] %></h4>
            </div>
                <div class="alert">
                    <h4><%= flash[:invalid_search] %></h4>
                </div>
                    <div class="alert">
                        <h4><%= flash[:search_fail] %></h4>
                    </div>
                    <br>
            

        <input type="submit" value="Submit">
    </form>


