
<h1>Search for Herbs</h1>

    <h3><form method="GET" action="/results">
        <label for="properites">Search:</label>
        <input type="text" name="search"></h3>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form></p>

