<div class="container">
  <header><a href="/index"><button>Home</button></a></header>
  <div class="col-md-8 col-md-offset-2">
  <br>
    <h2>Welcome to Nadia's Medicinal Herb Garden!!</h2>
    <br>
    <h3>Please sign up for an account or login below.</h3><br><br>

    <a href='/signup'><button>Sign Up</button></a>
    <a href='/login'><button>Login</button></a>



  </div>
</div>

 
  
    
