<div class="container">
  <h1>Welcome to Your Herb Garden!!!</h1>
         <br>  

  <h3>Please sign up for an account or login below.</h3>

  <br>
 
  <a href='/signup'><button>Sign Up</button></a>
  <a href='/login'><button>Login</button></a>
    
